---
import type { RecipesEntry } from "@/types";
import Share from "@components/common/Share.astro";
import { Image } from "astro:assets";
import BaseLayout from "@components/base/BaseLayout.astro";
import { upperHumanize, markdownify, slugify } from "@lib/textConverter";

import {
  FaRegClock,
  FaRegUserCircle,
  FaUtensils,
  FaSeedling,
} from "react-icons/fa";

interface Props {
  entry: RecipesEntry;
}

const { entry } = Astro.props;
const {
  title,
  author,
  description,
  image,
  imageAlt,
  prepTime,
  servings,
  diet,
  ingredients,
  instructions,
  notes,
} = entry.data;
---

<BaseLayout title={title} description={description} image={image?.src}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <article class="flex flex-wrap content-start lg:col-10">
          <!-- Title -->
          <h1 set:html={title} class="col min-w-72 basis-full p-2" />
          <!-- Cover Photo -->
          {
            image && (
              <div class="col min-w-72 basis-2/3 p-2">
                <div class="glass rounded-lg opacity-0 intersect:animate-fadeDown">
                  <Image
                    class="w-full rounded-lg"
                    src={image}
                    alt={imageAlt}
                    width={1920}
                    height={1080}
                    loading="eager"
                  />
                </div>
              </div>
            )
          }
          <!-- About -->
          <section class="col min-w-72 basis-1/3 p-2">
            <div
              class="glass h-full rounded-lg p-2 opacity-0 intersect:animate-fadeUp"
            >
              <!-- Author -->
              {
                author && (
                  <div class="m-4">
                    <a href={`/authors/${slugify(author.id)}`}>
                      <FaRegUserCircle className={"-mt-1 mr-2 inline-block"} />
                      {upperHumanize(author.id)}
                    </a>
                  </div>
                )
              }
              <!-- Prep Time -->
              {
                prepTime && (
                  <div class="m-4">
                    <FaRegClock className={"-mt-1 mr-2 inline-block"} />
                    {prepTime + " minutes"}
                  </div>
                )
              }
              <!-- Servings -->
              {
                servings && (
                  <div class="m-4">
                    <FaUtensils className={"-mt-1 mr-2 inline-block"} />
                    {servings === 1 ? "1 serving" : servings + " servings"}
                  </div>
                )
              }
              <!-- Diet -->
              {
                diet && (
                  <div class="m-4">
                    <FaSeedling className={"-mt-1 mr-2 inline-block"} />
                    {diet}
                  </div>
                )
              }
              <!-- Description -->
              {
                description && (
                  <div>
                    {author || prepTime || servings || diet ? (
                      <hr class="my-2" />
                    ) : null}
                    <div class="m-4">
                      <div set:html={markdownify(description)} />
                    </div>
                  </div>
                )
              }
            </div>
          </section>
          <!-- Ingredients -->
          {
            ingredients && (
              <section class="col min-w-72 basis-1/3 p-2">
                <div class="glass rounded-lg p-4 opacity-0 intersect:animate-fadeUp">
                  <h2 set:html="Ingredients" class="mb-2" />
                  <div class="row justify-center">
                    {ingredients.list.map((it: string, index: number) => (
                      <div class="row my-1">
                        <div class="col-7" set:html={ingredients.list[index]} />
                        <div
                          class="col-5 text-right"
                          set:html={ingredients.qty[index]}
                        />
                        <hr class="my-1" />
                      </div>
                    ))}
                  </div>
                </div>
              </section>
            )
          }
          <!-- Instructions -->
          {
            instructions && (
              <section class="col min-w-72 basis-full p-2">
                <div class="glass rounded-lg p-4 opacity-0 intersect:animate-fadeUp">
                  <h2 set:html="Instructions" class="mb-2" />
                  <div class="row justify-center">
                    {instructions.map((it: string, index: number) => (
                      <div class="row my-1">
                        <div class="col">
                          {index + 1}. {it}
                        </div>
                        <hr class="my-1" />
                      </div>
                    ))}
                  </div>
                </div>
              </section>
            )
          }
          <!-- Notes -->
          {
            notes && (
              <section class="col min-w-72 basis-full p-2">
                <div class="glass rounded-lg p-4 opacity-0 intersect:animate-fadeUp">
                  <h2 set:html="Notes" class="mb-2" />
                  <div class="row justify-center">
                    {notes.map((it: string, _index: number) => (
                      <div class="row my-1">
                        <div class="col">{it}</div>
                        <hr class="my-1" />
                      </div>
                    ))}
                  </div>
                </div>
              </section>
            )
          }
        </article>
        <!-- Share -->
        <div
          class="col-10 flex items-center justify-center p-2 px-6 lg:justify-end"
        >
          <Share
            title={title}
            description={description}
            folder="recipes"
            id={entry.id}
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
